{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="{% static 'main/css/Styles.css' %}" rel="stylesheet"/>
</head>
<body>

<div class = "header">
	<nav class="menu">
	  	<ul class="topmenu">
		    <li><a href="#">Home</a></li>
		    <li><a href="#">Features</a></li>
		    <li><a href="#">Contact</a></li>
	  	</ul>
	</nav>
	<div class = "logomenu">
		<h2>Projeckt Fizika</h2>
		<img class = "logo" src="{% static 'main/images/logo.png' %}">
	</div>
</div>
<div class = " main">
	<div class = "main_txt">
		
	</div>
	<img class = "bg" src="{% static 'main/images/bg.png' %}">
</div>

</body>
</html>
