<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="Style.css">
</head>
<body>

<div class = "header">
	<nav class="menu">
	  	<ul class="topmenu">
		    <li><a href="#">Home</a></li>
		    <li><a href="#">Features</a></li>
		    <li><a href="#">Contact</a></li>
	  	</ul>
	</nav>
	<div class = "logomenu">
		<h2>Projeckt Fizika</h2>
		<img class = "logo" src="1234.png">
	</div>
</div>
<div class = " main">
	<div class = "main_txt">
		
	</div>
	<img class = "bg" src="bg.png">
</div>

</body>
</html>
